<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Rocket League Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <!-- HEADER -->
    <header>
        <h1>Rocket League Tracker</h1>
        <select id="playerSelect">
        </select>
    </header>

    <!-- Zone d'affichage du graphique MMR -->
    <main>

        <div class="chart">
            <h2>Niveau MMR</h2>
            <canvas id="mmr"></canvas>
        </div>

        <div class="chart">
            <h2>Niveau MMR</h2>
            <canvas id="mmr"></canvas>
        </div>

    </main>

    <!-- SCRIPT -->
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>

</body>

</html>