<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Rocket League Tracker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <!-- NAVIGUATION -->
    <nav>

        <div class="section">
            <p class="categorie">Joueur</p>
            <select id="player_selector">
            </select>
        </div>

        <div class="section">
            <p class="categorie">Mode de jeu</p>
            <select id="playlist_selector">
            </select>
        </div>

        <div class="section" id="graphs">
            <p class="categorie">Graphiques</p>

        </div>

    </nav>

    <!-- CHARTS -->
    <main>

    </main>

    <!-- SCRIPT -->
    <script src="{{ url_for('static', filename='scripts/app.js') }}"></script>

</body>

</html>